# Dependabot will run on day 24 of each month at 03:55 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "04:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "Garfonso"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "04:00"
      timezone: "Europe/Berlin"
    versioning-strategy: "increase"
    open-pull-requests-limit: 15
    assignees:
      - "Garfonso"
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"
  - package-ecosystem: "npm"
    directory: "/src"
    schedule:
      interval: "weekly"
      time: "04:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "Garfonso"
    versioning-strategy: "increase"
